{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    Electrotactile Feedback - Widget Web App!
</div>

<div class="row">
    <form class="d-flex p-3 flex-column w-100" action="" method="post">
        {% csrf_token %}
        {% for question in form %}
        <div class="d-flex p-4 justify-content-around">
            <div>{{ question.label }}:</div>
            {{ question }}
        </div>
        {% endfor %}
        <!--<input type="submit" value="Submit">-->
    </form>
</div>

{% endblock %}
